// .productCard{
//     & .productCard__img{
//         width: 245px;
//         height: 240px;
//     }
// }

// Product Rate CSS {
.product-rate {
  &__header {
    border-bottom: 1px solid $color-white-3;
  }
}
.product_result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 5px;
  margin-bottom: 15px;
  .sortby {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h6 {
    margin-bottom: 0;
  }
  select {
    padding: 3px;
    margin-left: 5px;
    border: 1px solid $color-gray-2;
  }
}
// Responsive CSS
@media screen and (max-width: 576px) {
  .product {
    &__left {
      display: none;
      & .product__side-bar {
        display: none;
      }
      & .product__rate {
        display: none;
      }
    }
    &__page-pagination {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .product {
    &__left {
      display: none;
    }
  }
}
@media screen and (min-width: 960px) {
  .product {
    display: flex !important;
  }
  .product__side-bar--mobile {
    display: none;
  }
}
